.privacyPolicySection {
  padding: 120px 0 60px 0;
}

.privacyContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.privacyHeading {
  color: var(--color-secondary) !important;
  text-shadow: -4px 0px 0px var(--color-primary) !important;
  -webkit-text-stroke: 0.1px var(--color-primary) !important;
}

.privacyContainer :global(.heading-design) p {
  color: var(--color-black);
  text-shadow: none;
}

.policyContent {
  padding: 30px 0;
  border-bottom: 1px solid #0B5D8A40;
}

.policyContent:last-child {
  border-bottom: none;
}

.policyContent h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 12px;
  font-family: var(--font-primary);
}

.policyContent p {
  font-size: 15px;
  line-height: 1.8;
  color: var(--color-black);
  margin-bottom: 10px;
}

.policyContent ul {
  padding-left: 20px;
}

.policyContent ul li {
  font-size: 15px;
  color: var(--color-black);
  margin-bottom: 8px;
  list-style: disc;
}

/* Responsive */
@media (max-width: 768px) {

  .privacyPolicySection {
    padding: 100px 0 30px 0;
  }

  .heading h1 {
    font-size: 30px;
  }

  .policyBody {
    padding: 15px;
  }

  .policyContent h3 {
    font-size: 20px;
  }
}